.navbar {
    padding: none;
}

.logo {
    width: 100px; 
    height: 36px;
}

.navbar-nav {
    margin-left: auto; 
}

.header {
    background-image: url('https://live.staticflickr.com/3181/2548837974_968e5424e0_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 50px; 
    text-align: center; 
}

.overlay {
    margin: 0 auto; 
    max-width: 800px; 
    padding: 20px; 
}

.menu-box {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%; 
    margin: 0 auto; 
    text-align: center; 
}

.header h1 {
    padding-top: 100px;
}

#about {
    background-color: cornflowerblue;
}

.card-container {
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

.img-card-container {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 10px 10px 0 0; 
}

.text-white {
    color: white;
}

.col-lg-6 {
    height: 200px;
}

.footer {
    background-color: skyblue;
    color: #FFF;
    padding: 20px 0;
    text-align: center;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links {
    margin: 0 20px;
}

.footer-links h4 {
    color: #FFDAB9;
    margin-bottom: 10px;
}

.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a {
    color: #ffffff;
    padding-left: 3px;
}

.img-container {
    height: 700px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    height: 700px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.container-fluid1{
        background-image: url('https://st3.depositphotos.com/1026550/36645/i/450/depositphotos_366459050-stock-photo-underwater-empty-swimming-pool-background.jpg');
        background-size: cover;
        background-position: center;
        height: 1000px;
}
.color{
    background-color: black;
}
