/* Estilos generales */
.navbar {
    padding: none;
}

/* Ajustar tamaño del logo */
.logo {
    width: 100px; /* Ajustar ancho del logo */
    height: 36px; /* Ajustar altura del logo */
}

/* Ajustar posición de los botones de la barra de navegación */
.navbar-nav {
    margin-left: auto; /* Mover botones al lado derecho */
}

.header {
    background-image: url('https://live.staticflickr.com/3181/2548837974_968e5424e0_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 50px; /* Añadir margen superior para separar de la barra de navegación */
    text-align: center; /* Centrar contenido horizontalmente */
}

.overlay {
    margin: 0 auto; /* Centrar contenido horizontalmente */
    max-width: 800px; /* Establecer ancho máximo para el contenido */
    padding: 20px; /* Añadir padding para separar contenido del borde */
}

.menu-box {
    background-color: #fff; /* Color blanco */
    padding: 20px; /* Espacio entre texto y borde */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para agregar profundidad */
    width: 50%; /* Ancho de la caja, ajustar según sea necesario */
    margin: 0 auto; /* Centrar horizontalmente */
    text-align: center; /* Centrar texto horizontalmente */
}

.header h1 {
    padding-top: 100px;
}

#about {
    background-color: cornflowerblue;
}

.card-container {
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

.img-card-container {
    width: 100%;
    height: 200px; /* Ajustar la altura de las imágenes según tus necesidades */
    object-fit: cover;
    border-radius: 10px 10px 0 0; /* Esquinas redondeadas en la parte superior */
}

.text-white {
    color: white;
}

.col-lg-6 {
    height: 200px;
}

.footer {
    background-color: skyblue;
    color: #FFF;
    padding: 20px 0;
    text-align: center;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links {
    margin: 0 20px;
}

.footer-links h4 {
    color: #FFDAB9;
    margin-bottom: 10px;
}

.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a {
    color: #ffffff;
    padding-left: 3px;
}

.img-container {
    height: 700px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    height: 700px;
    display: flex;
    align-items: center;
    padding: 20px;
}