.navbar {
    padding: none;
}

/* Ajusta el tamaño del logotipo */
.logo {
    width: 100px;
    /* Ajusta el ancho del logotipo */
    height: 36px;
    /* Ajusta el alto del logotipo */
}

/* Ajusta la posición de los botones del navbar */
.navbar-nav {
    margin-left: auto;
    /* Mueve los botones al lado derecho */
}

.header {
    background-image: url('https://live.staticflickr.com/3181/2548837974_968e5424e0_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

header h1 {
    padding-top: 50px;
}

.header {
    padding-top: 50px;
    /* Agrega un margen superior para separar del navbar */
    text-align: center;
    /* Centra horizontalmente el contenido */
}

.overlay {
    margin: 0 auto;
    /* Centra horizontalmente el contenido */
    max-width: 800px;
    /* Establece un ancho máximo para el contenido */
    padding: 20px;
    /* Agrega un padding para separar el contenido del borde */
}

.menu-box {
    background-color: #fff;
    /* color blanco */
    padding: 20px;
    /* espacio entre el texto y el borde */
    border-radius: 10px;
    /* borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* sombra para dar profundidad */
    width: 50%;
    /* ancho del box, ajusta según sea necesario */
    margin: 0 auto;
    /* centrar horizontalmente */
    text-align: center;
    /* centrar texto horizontalmente */
}

#about {
    background-color: cornflowerblue;

}

.col-lg-6 {
    height: 200px;
}

.footer {
    background-color: skyblue;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links {
    margin: 0 20px;
}

.footer-links h4 {
    color: #FFDAB9;
    margin-bottom: 10px;
}

.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a {
    color: #ffffff;
    padding-left: 6px;
}

.img-container {
    height: 700px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    height: 700px;
    display: flex;
    align-items: center;
    padding: 20px;
}